<div class="card">
    <div class="card-header text-dark  gdnc-bg-@(Item.IsActive?"success":"warning")-light">
        <div class="row">
            <div class="col-9">
                <button class="btn btn-link " @onclick="EditItem">
                    <h6>
                        @($"{Item.FullName}")
                    </h6>
                </button>
            </div>
            <div class="col-3 text-light">
               
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm">@Item.PhoneNum</div>
            <div class="col-sm">  @Item.IdNum</div>
            <a @onclick="DeleteItem" class="btn btn-danger text-light">
                <i class="fa fa-trash"/>
            </a>        
        </div> 
    </div> 
</div>
